.newAddContainer {
    margin-top: 20px;
}

.firstRowAddNew {
    margin: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainCatAdd {
    min-width: 150px;
}

.secondRowAddNew {
    display: flex;
}

.makeAndModelAddNew {
    display: flex;
    align-items: center;
}

.makeAddNew {
    margin: 20px 10px;
}

.modifyAndEngineAddNew {
    display: flex;
    align-items: center;
}

.powerAndEuroAddNew {
    display: flex;
    align-items: center;
}

.modifyAddNew {
    margin: 20px 10px 20px 20px;
}

.modifyInputAddNew {
    width: 150px;
    height: 24px;
}

.conditionVehicleAddNew {
    margin: 20px 10px 20px 20px;
}

.fourthRowAddNew {
    display: flex;
}

.yearAddnew {
    margin: 10px;
}

.inputMillageAddNew {
    width: 150px;
    height: 24px;
}

.millageAddNew {
    margin: 10px 0;
}

.priceInputAddNew {
    width: 150px;
    height: 24px;
    margin-right: 10px;
}

.priceAddNew {
    margin: 10px;
}

.thirdRowAddNew {
    display: flex;
}

.powerInputAddNew {
    width: 150px;
    height: 24px;
}

.transmissionAddNew {
    margin: 10px 10px 10px 20px;
}

.vehicleCategoryAddNew {
    margin: 10px 0;
}

.powerAddNew {
    margin: 10px;
}

.fifthRowAddNew {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.regionAddNew {
    margin-right: 10px;
}

.townAddNew {
    margin-right: 20px;
}

.sixthRowAddNew {
    display: flex;
}

.moreInfoNewAd {
    margin: 10px;
}

.contactsNewAd {
    margin: 10px;
}

.nextStepInfo {
    font-size: 12px;
}

.phoneNewAd {
    margin: 10px;
}

.emailNewAd {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.publicBtnAddNew {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
        width: 300px;
    }
}

.publicNewAd {
    width: 100%;
}



.AddNewAdTable {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: inline-block;
    width: 100%;

    select {
        min-width: 150px;
    }

}

.conditionLabelAddNew {
    padding: 2px;
}

.conditionCheckboxAddNew {
    height: 13px;
    margin: 5px;
}


.checkBoxes {
    display: grid;
    width: 100%;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "f f1 f2"
        "s s1 s2";
}

.firstColumn {
    grid-area: f;
    width: 100%;
}

.secondColumn {
    grid-area: f1;
    width: 100%;
}

.thirdColumn {
    grid-area: f2;
    width: 100%;
}

.forthColumn {
    grid-area: s;
    width: 100%;
    margin-top: 10px;
}

.fifthColumn {
    grid-area: s1;
    width: 100%;
    margin-top: 10px;
}

.sixthColumn {
    grid-area: s2;
    width: 100%;
    margin-top: 10px;
}

.checkboxForm {
    display: flex;
    flex-direction: column;
}

.addPhotoNewAdContent {
    margin-top: 20px;
}

.addNewPhotoInNewAd {
    border: #0099ff 1px solid;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    button {
        width: 100px;
        font-size: 14px;
    }
}

.newImageUpload {
    width: 50px;
}

.addPhotoContainer {
    margin: 10px;
    width: 100%;
}

.phoneInput {
    width: 150px;
    height: 24px;
    margin-right: 10px;

}