.headerContentDown {
    margin: 15px auto 0;
    padding-top: 3px;
    position: relative;
    height: 34px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    --bs-btn-bg: #605d5d;
    --bs-btn-border-color: #605d5d;
    margin-right: 1px;
    --bs-btn-hover-bg: #0099ff;
    --bs-btn-hover-border-color: #0099ff;
    --bs-btn-active-bg: #0099ff;
    --bs-btn-active-border-color: #0099ff;
    padding-top: 0;
}

.rentACarBtn {
    --bs-btn-bg: fff;
    --bs-btn-border-color: #605d5d;
    --bs-btn-color: #0099ff;
    --bs-btn-hover-border-color: #0099ff;
    --bs-btn-active-bg: #0099ff;
    --bs-btn-active-border-color: #0099ff;
    padding-top: 0;
}

.bottomLine {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -2px;
    height: 6px;
    background: #0099ff;
    
}



