.imgSmallCard {
    width: 150px; 
    height: 100px;  
}

.smallCardsContainer #A3{
    display: flex;
    width: 50%;
    margin: 10px;
    grid-area: i;
}

.allSmallCardsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "i i"
        "i i"
        "i i";
}

.smallCardsContainer {
    display: flex;
    margin: 10px ;
    align-items: center;
    border-right: 2px solid #0099ff;
    border-bottom: 2px solid #0099ff;
    cursor: pointer;
}

.smallCardInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.makeSmallCard {
    margin-right: 5px;
}