.imgSmallCard {
    width: 150px;
}

.smallCardsContainer {
    display: grid;
    width: 100%;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "i1 i2 "
        "i3 i4 "
        "i5 i6 ";


}

// #1 {
//     grid-area: i1;
//     width: 100%;
// }