.underLineUserSettings {
    width: 100%;
    height: 3px;
    background: #0099ff;
}

.inputsPassChange {
    display: flex;
    margin: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.inputEmailChange {
    display: flex;
    margin: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.deleteProfilBtn {
    background: rgb(190, 87, 87);
    margin: 20px 10px;
}

.deleteProfilBtn:hover {
    background-color: red;
}

.errorContainer {
    height: 20px;
    margin-bottom: 8px;
}

.errors {
    color: rgb(190, 87, 87);
    background-color: rgb(253, 198, 198);
    border-radius: 5px;
    border: 1px solid rgb(190, 87, 87);
    padding: 2px 0px;
    text-align: center;
}

.errorDiv {
    button {
        background: rgb(190, 87, 87);
    }
}

.nonVisibleConfirm {
    display: none;
}

.visibleConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.confirmBox {
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid;
    padding: 20px;
    color: rgb(190, 87, 87);

    button {
        background: rgb(190, 87, 87);
        color: white;
        padding-top: 0px;
        font: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.buttonsConfirmBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}