.mainSearchHome {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    select {
        min-width: 150px;
    }
}

.categoriesOutlineTable {
    display: flex;
}

.mainCategories {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 0;
}

.makeSelectHome {
    margin-right: 10px;
}

.engineSelectHome {
    margin-right: 10px;
}

.priceInputHome {
    margin-right: 10px;
}

.regionSelectHome {
    margin-right: 10px;
}

.makeAndModelHome {
    display: flex;
    margin: 10px 15px 10px 30px;
}

.regionAndTown {
    display: flex;
    margin: 10px 30px 10px 15px;
}

.secondRowHomeTable {
    display: flex;
}

.priceAndYear {
    display: flex;
    margin: 10px 15px 10px 30px;
}

.sortAdHome {
    margin: 10px 30px 10px 15px;

    select {
        width: 310px;
    }
}

.thirdRowHomeTable {
    display: flex;
    align-items: flex-end;


    .engineAndTransmission {
        margin: 10px 15px 10px 30px;
        display: flex;
    }

    button {
        width: 310px;
        margin: 10px 30px 10px 15px;
    }

}

.firstRowHomeTable {
    display: flex;
}

.detailSearchLink {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: black;
    text-decoration: underline;

}

.inputPriceHome {
    height: 25px;
    width: 150px;
}

.labmoHomePage {
    width: 100%;
}

.homePageContent {
    display: flex;
}

.homeSearchTableAndNewestAds {
    display: flex;
    flex-wrap: wrap;
}

.banerContainer {
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 10px;
}

.iconSearchTable {
    width: 70px;
    margin-left: 20px;
}