.profilePageTop {
    background-color: #0099ff;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4px;
}

.myAdsProfile {
    margin: 0 10px;
    color: white;
    font-size: 14px;
}

.favAdsProfile {
    margin: 0 10px;
    color: white;
    font-size: 14px;
}

.settingsProfile {
    margin: 0 10px;
    color: white;
    font-size: 14px;
}

.profilePageContent {
    margin-bottom: 10px;
}

.lineUnderButtonsOfProfilPage {
    width: 100%;
    height: 3px;
    background: #0099ff;
}

.buttonsGroupProfilePage {
    margin: 18px auto 0;
    position: relative;
    height: 34px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}