.newAddContainer {
    margin-top: 20px;
}

.firstRowAddNew {
    margin-left: 10px;
}

.mainCatAdd {
    min-width: 150px;
}

.secondRowAddNew {
    display: flex;
}

.modifyAddNew {
    margin: 20px 10px 20px 20px;
}

.modifyInputAddNew {
    width: 150px;
    height: 25px;
}

.makeAddNew {
    margin: 20px 10px;
}

.conditionVehicleAddNew {
    margin: 20px 10px 20px 20px;
}

.fourthRowAddNew {
    display: flex;
}

.yearAddnew {
    margin: 10px;
}

.inputMillageAddNew {
    width: 150px;
    height: 25px;
}

.millageAddNew {
    margin: 10px 0;
}

.priceInputAddNew {
    width: 150px;
    height: 25px;
    margin-right: 10px;
}

.priceAddNew {
    margin: 10px;
}

.thirdRowAddNew {
    display: flex;
}

.powerInputAddNew {
    width: 150px;
    height: 25px;
}

.transmissionAddNew {
    margin: 10px 10px 10px 20px;
}

.vehicleCategoryAddNew {
    margin: 10px 0;
}

.powerAddNew {
    margin: 10px;
}

.fifthRowAddNew {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.regionAddNew {
    margin-right: 10px;
}

.townAddNew {
    margin-right: 20px;
}

.sixthRowAddNew {
    display: flex;
}

.moreInfo {
    margin: 10px;
}

.moreInfoText {
    margin-left: 170px;
}

.contactsNewAd {
    margin: 10px;
}

.nextStepInfo {
    font-size: 10px;
}

.phoneNewAd {
    display: flex;
    margin: 10px;
}

.emailNewAd {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.publicBtnAddNew {
    margin: 105px 20px 0;
}

.publicNewAd {
    width: 100%;
}

.makeAndModelAddNew {
    display: flex;
    align-items: center;
}

.modifyAndEngineAddNew {
    display: flex;
    align-items: center;
}

.powerAndEuroAddNew {
    display: flex;
    align-items: center;
}


.AddNewAdTable {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: inline-block;
    width: 100%;

    select {
        min-width: 150px;
    }

}

.conditionLabelAddNew {
    padding: 2px;
}

.conditionCheckboxAddNew {
    height: 13px;
    margin: 5px;
}


.checkBoxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 10px;
    gap: 15px;
}

.checkboxForm {
    display: flex;
    flex-direction: column;


}