.cardImg {
    width: 150px;
    height: 90px;
}

.cardContainer {
    display: flex;
    align-items: flex-start;
    border-top: 2px solid #0099ff;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    height: 150px;
}

.linksAllResults {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.newSearch {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.backToHome {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.infoCardAllResultPage {
    margin-left: 10px;
    width: 100%;
}

.mainInfoCardAllResultPage {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.cardMake {
    margin-right: 5px;
}

.buttonsCardAllResultPage {
    display: flex;
}

.btnCardAddToFav {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    font-size: 13px;
}

.btnCardRemoveFromFav {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    font-size: 13px;
}


.imgCardAllResultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
}

.active {
    .page-link {
        background-color: #0099ff;
    }
}

.noAds{
    text-align: center;
    margin: 20px;
    font-size: large;
}