.detailedSearchContainer {
    margin-top: 20px;
}

.searchTable {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: inline-block;
    width: 100%;

    select {
        width: 148px;
    }
}

.firstRow {
    margin: 10px;

    select {
        width: 250px;
    }
}

.selectorMainCategory {
    display: flex;
    flex-direction: column;
}

.checkBoxesAndButton {
    display: flex;
    align-items: center;
}

.forthRow {
    display: flex;
    align-items: center;
}

.fifthRow {
    display: flex;
}

.sixthRow {
    display: flex;
}

.makeAndModelDetailSearch {
    display: flex;
    align-items: center;
}

.makeDetailSearch {
    margin: 10px 10px;
}

.conditionVehicleDeatiledSearch {
    margin: 10px 20px;
}

.conditionLabel {
    padding: 2px;
}

.conditionCheckbox {
    height: 13px;
    margin: 5px;
}

.searchBtnDetailedSearch {
    width: 330px;
    margin: 10px 10px;
}

.yearDetailedSearch {
    display: flex;
    align-items: center;
}

.yearFromDetailedSearch {
    margin: 10px 10px 10px 20px;
}

.sortDetailedSearch {
    margin-left: 20px;
}

.priceDeatiledSearch {
    display: flex;
}

.priceInputFrom {
    margin: 10px;
}

.priceInputTo {
    margin: 10px 0;
}

.inputPriceFrom {
    height: 25px;
    width: 110px;
}

.inputPriceTo {
    height: 25px;
    width: 110px;
}

#curencySelectDetailedSearch {
    width: 65px;
    margin-left: 10px;
}

.powerFrom {
    height: 25px;
    width: 148px;
    margin-right: 10px;
}

.powerTo {
    height: 25px;
    width: 148px;
}

.powerDetailedSearch {
    display: flex;
    margin: 10px 20px;
}

.euroDetailedSearch {
    margin: 10px 0;
}

.engineDetailedSearch {
    margin: 10px;
}

.transmissionDetailedSearch {
    margin: 10px 20px 10px 0;
}

.distanceDetailedSearch {
    margin: 10px 0;
}

.colorDetailedSearch {
    margin: 10px 20px 10px 10px;
}

.regionDetailedSearch {
    margin: 10px 0;
}

.townDetailedSearch {
    margin: 10px 20px 10px 10px;
}

.checkBoxes {
    display: grid;
    width: 100%;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "f f1 f2"
        "s s1 s2";
}

.firstColumn {
    grid-area: f;
    width: 100%;
}

.secondColumn {
    grid-area: f1;
    width: 100%;
}

.thirdColumn {
    grid-area: f2;
    width: 100%;
}

.forthColumn {
    grid-area: s;
    width: 100%;
    margin-top: 10px;
}

.fifthColumn {
    grid-area: s1;
    width: 100%;
    margin-top: 10px;
}

.sixthColumn {
    grid-area: s2;
    width: 100%;
    margin-top: 10px;
}

.checkboxForm {
    display: flex;
    flex-direction: column;

    input {
        height: 13px;
        margin: 5px;
    }
}