.editButton {
    margin-right: 5px;
    font-size: 15px;
    background-color: white;
    color: #0099ff;
    outline: 1px solid #0099ff;
}

.editButton:hover {
    background: #0099ff;
    color: white;
}