.profilePageTop {
    background-color: #0099ff;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4px;
}

.myAdsProfile {
    margin: 0 10px;
}

.favAdsProfile {
    margin: 0 10px;
}

.settingsProfile {
    margin: 0 10px;
}

.profilePageContent {
    margin-bottom: 10px;
}