.App {
  width: 990px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  z-index: 1;
  cursor: auto;
  box-sizing: border-box;
}
.InactivePageAd {
  background-color: red;
}

.profile {
  background-color: bisque;
}

.allResults {
  background-color: yellowgreen;
}

.showTheChosenAd {
  background-color: black;
}

.headerContent {
  margin-top: 20px;
}

.headerContentUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  padding: 0;
}

