.homeIconsTop {
    margin: 0 10px;
    cursor: pointer;
    opacity: .5;
}

.homeContentTop {
    display: inline-block;
    margin: 10px 0;
}

.homeIconsActive {
    opacity: 1;
    margin: 0 10px;
    cursor: pointer;
}