.firstRow {
    margin-left: 10px;

    select {
        width: 250px;
    }
}

.secondRow {
    display: flex;
    justify-content: space-evenly;
}

.forthRow {
    display: flex;
    justify-content: space-evenly;
}

.thirdRow {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.fifthRow {
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.sixthRow {
    display: flex;
    justify-content: space-evenly;
}

.searchTable {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: inline-block;
    width: 100%;

    select {
        width: 150px;
    }
}

.searchBtnDetailedSearch {
    width: 310px;
    margin: 10px 30px 10px 15px;
}

.searchTableComponent {
    padding: 7px 0px;
}

.searchTableComponentSpecia2 {
    width: 330px;
    padding: 7px 0px;

}

.conditionLabel {
    padding: 2px;
}

.conditionCheckbox {
    height: 13px;
    margin: 5px;
}

.inputsInSearch {
    max-width: 150px;
    max-height: 25px;
}

.searchTableComponentFlex {
    display: flex;
}

#selectInSearch {
    max-width: 60px;
}

.searchTableComponentPrice {
    input {
        width: 103px;
    }
}

.checkBoxes {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px;
    gap: 15px;
}

.checkboxForm {
    display: flex;
    flex-direction: column;

    input {
        height: 13px;
        margin: 5px;
    }
}