.addPhotoNewAdContent {
    margin-top: 20px;
}

.messageForPhotoAdd {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 10px;
}

.addNewPhotoInNewAd {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.addVideoFormYoutube {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addPhotoBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.addPhotoBtnNext {
    width: 300px;
}

.addPhotoBtnNext:hover {
    background: #0d6efd;
}

.addVideoBtn:hover{
    background: #0d6efd;
}

.inputUrlYoutube {
    width: 100vh;
    margin-right: 10px;
}

.addUrlToVideo {
    margin: 10px;
}