.mainSearchHome {
    border: #0099ff 1px solid;
    border-top: #0099ff 3px solid;
    margin: 10px 0;
    display: inline-block;
}

.categoriesOutlineTable {
    display: flex;
}

.mainCategories {
    margin: 20px 30px;
}

select {
    min-width: 150px;
}

p {
    margin-bottom: 0;
}

.makeSelectHome {
    margin-right: 10px;
}

.engineSelectHome {
    margin-right: 10px;
}

.priceInputHome {
    margin-right: 10px;
}

.regionSelectHome {
    margin-right: 10px;
}

.makeAndModelHome {
    display: flex;
    margin: 10px 15px 10px 30px;
}

.regionAndTown {
    display: flex;
    margin: 10px 30px 10px 15px;
}

.secondRowHomeTable {
    display: flex;
}

.priceAndYear {
    display: flex;
    margin: 10px 15px 10px 30px;
}

.sortAdHome{
    margin: 10px 30px 10px 15px;
    
    select {
    width: 310px;
    }
}

.thirdRowHomeTable {
    display: flex;
    align-items: center;
   

    .engineAndTransmission {
        margin: 10px 15px 10px 30px;
        display: flex;
    }

    button {
        width: 310px;
        margin: 10px 30px 10px 15px;
    }
}

.firstRowHomeTable {
    display: flex;
}

.detailSearchLink {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: black;
    text-decoration: underline;

}

.inputPriceHome {
    height: 25px;
    width: 150px;
}