.footerUpLine {
    width: 100%;
    height: 2px;
    background: #0099ff;
}

.footerLink {
    font-size: 12px;
    height: 30px;
    text-decoration: underline;
    color: #999999;
    background-color: white;
    margin: 4px;
}

.footerLink:hover {
    color: #0099ff;
}

.footerContentUp {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}